
.errors {
    padding: 20px 5px;
    color: #ff6565;
}

.step-1-container {
    text-align: center;
    padding-top: 150px;
}

.step-2-container {
    display: flex;
}

.stats-section {
    user-select: none;
    flex-grow: 1;
}

.stat-list {
    column-count: 2;
    padding-left: 100px;
}

.stat {
    padding: 5px 20px;
    font-size: 18px;
    color: rgb(219, 215, 162);
}
.stat:nth-child(2n) {
    color: rgb(158, 155, 115);
}

.stat-name {
    display: inline-block;
    width: 100px;
}

.stat-base {

}

.modifier-positive {
    color: rgb(94, 184, 94);
}

.modifier-negative {
    color: rgb(252, 96, 96);
}

.preset-label {
    font-size: 40px;
    text-align: center;
    padding: 0 0 20px 0; 
}

.preset-options {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgb(41, 32, 28);
    border: 1px solid rgb(77, 47, 35);
}

.preset-option {
    cursor: default;
    user-select: none;
    text-align: center;
    border: 1px solid rgb(58, 45, 40);
    border-radius: 7px;
    background-image: linear-gradient(
        to bottom,
        rgb(71, 55, 48),
        rgb(58, 45, 40)
    );
    margin: 5px;
}
.preset-option:hover {
    background-image: linear-gradient(
        to bottom,
        rgb(77, 62, 55),
        rgb(56, 47, 44)
    );
}
.preset-option.selected {
    background-image: linear-gradient(
        to bottom,
        rgb(100, 85, 16),
        rgb(73, 62, 13)
    );
    border: 1px solid rgb(73, 62, 13);
}

.preset-option-name {
    font-size: 20px;
    padding: 5px;
}

.preset-option-description {
    font-style: italic;
    padding: 10px;
}

